@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' , sans-serif;
}

.listings-container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.listing {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.listing img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .listings-container {
        flex-direction: column;
    }
    .listing {
        margin-bottom: 20px;
    }
}
#header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
list-style: none;
padding: 0 20px;
position: relative;

}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    color: black;
    transition: 0.3 ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: maroon
    
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content:"";
  width: 30%;
  height: 2px;
  background:maroon;
  position:absolute;
  bottom:-4px;
  left:20px;
}

#front{
    background-image: url("/assets/aggieland.jpeg");
    height: 90vh;
    width: 100%;
    background-size: 1500px;
   
    background-position: top 100% right 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flext-start;
    justify-content: center;
    padding-left: 60px;
}

#front h4{
    padding-bottom: 15px;
    font-size: 30px;
    color: white;
}

#front h1{
    padding-bottom: 15px;
    font-size: 60px;
    color: white;
}

#front p, h2{
    color: white;
}

#front p{
 font-size: 40px;
}

h1{
    font-size: 20px;
    color: #222
}



